Intelligent-Agents/WebContent/WEB-INF/mainNodeData/mainNodeInfo.txt
Intelligent-Agents/target/m2e-wtp/web-resources/META-INF/maven/Inteligent_Agents/Inteligent_Agents/pom.properties
Intelligent-Agents/target/m2e-wtp/web-resources/META-INF/maven/Inteligent_Agents/MANIFEST.MF
/target/
/.metadata/
