<div class="container-fluid Margin">
  <div class="row NoFlex TextCenter">
    <h2 class="Title">Toolbox:</h2>
  </div>
  <div class="row NoFlex">
      &nbsp;
  </div>
  <div class="row" *ngIf="selectedObject === undefined">
    <h2 class="AgentTypeText">Please, make a selection</h2>
  </div>
  <div class="row NoFlex FormText">    
    <form class="form-control BackgroundStart" *ngIf='selectedObject !== undefined && !isRunningAgent'>
      <h3>Agent type: <b class="AgentTypeText">{{selectedObject.name}}</b></h3>
      &nbsp;
      <h3>Agent name</h3>
      <input type="text"name="AgentName" id="agentName" class="form-control" [(ngModel)]="agentName"/>
      &nbsp;
      <button  class="btn btn-success form-control"
            (click)="startAgentEvent($event)"> Start agent </button>
    </form>    
    <form class="form-control BackgroundDelete" *ngIf='selectedObject !== undefined && isRunningAgent'>
      <h3>Agent type: <b class="AgentTypeText">{{selectedObject.type.name}}</b></h3>
      &nbsp;
      <h3>AID: <b class="AIDtext">{{selectedObject.name}}</b></h3>
      &nbsp;
      <button class="btn btn-danger form-control"
            (click)="deleteRunningAgentEvent($event)"> Stop agent </button>
    </form>
    <div class="row NoFlex">
        &nbsp;
    </div>
  </div>
</div>
