.Header1 {
    text-align: center;
}

.NoFlex {
    display: block;
}

.ToolBox {
    background-color:rgba(238,238,238, 0.4);
}

.Console {
    background-color: #00796B;
    color: #ffffff;
    height: 400px;
}