.BackgroundMessage {
    background-color: rgba(179,229,252, 0.3);
}

.FormText {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
}

.NoFlex {
    display: block;
}

.TextCenter {
    text-align: center;
}

.Title {
    color: #454545;
}

.Textarea {
    overflow-y: scroll;
    resize: none;
}

.selectBox {
    position: relative;
}

.selectBox select {
    width: 100%;
    font-weight: bold;
}

.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#checkboxes {
    display: none;
    border: 1px #dadada solid;
}

#checkboxes label {
    display: block;
}

#checkboxes label:hover {
    background-color: #1e90ff;
}